ul {
  display: flex;
  flex-flow: row wrap;
  max-width: 500 px;
}

li {
  list-style: none;
  border: 5px solid black;
  width: 40%;
  height: 200px;
  margin: 10px;
  padding: 5px;
  background-color: lightgrey;
}
